{% extends "layout.html" %}

{% block title %}Mes statistiques{% endblock %}

{% block main %}
    <h2 class="mb-1">Mes statistiques</h2>
    <p class="text-muted mb-4">{{ analyse.nom_fichier }}, du {{ analyse.periode_debut }} au {{ analyse.periode_fin }}</p>

    <dl class="resume">
        <div>
            <dt>Consultations analysées</dt>
            <dd>{{ analyse.nb_consultations }}</dd>
        </div>
        <div>
            <dt>Patients inclus</dt>
            <dd>{{ analyse.nb_patients_uniques }}</dd>
        </div>
    </dl>

    <div class="row g-4 mb-4">
        <div class="col-md-6">
            <div class="graphique"><img class="img-fluid" src="data:image/png;base64,{{ graph_hf }}" alt="Répartition H/F"></div>
        </div>
        <div class="col-md-6">
            <div class="graphique"><img class="img-fluid" src="data:image/png;base64,{{ graph_tranches_age }}" alt="Tranches d'âge"></div>
        </div>
        <div class="col-md-6">
            <div class="graphique"><img class="img-fluid" src="data:image/png;base64,{{ graph_types_consultation }}" alt="Types de consultation"></div>
        </div>
        <div class="col-md-6">
            <div class="graphique"><img class="img-fluid" src="data:image/png;base64,{{ graph_fidelisation }}" alt="Origine des consultations"></div>
        </div>
        <div class="col-12">
            <div class="graphique"><img class="img-fluid" src="data:image/png;base64,{{ graph_frequentation }}" alt="Évolution mensuelle"></div>
        </div>
        <div class="col-md-6">
            <div class="graphique"><img class="img-fluid" src="data:image/png;base64,{{ graph_consultation_jours }}" alt="Moyenne par jour"></div>
        </div>
        <div class="col-md-6">
            <div class="graphique"><img class="img-fluid" src="data:image/png;base64,{{ graph_heatmap }}" alt="Créneaux les plus demandés"></div>
        </div>
    </div>

    <a href="/historique" class="btn btn-outline-primary">Retour à l'historique</a>
{% endblock %}
